.card {
    border: 3px solid #646cff;
    padding: 3%;
    margin: 2%;
    display: block;
}

.card-container {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
}